@font-face { font-family: arcade; src: url('../fonts/ka1.ttf'); } 
@font-face { font-family: arcadePage; src: url('../fonts/ARCADEPI.TTF'); } 

.main{
  /* background-color: #FF00FF; */
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: arcadePage;
  background-color: black;
}

.mainContainer{
display: flex;
height: 100vh; /* Full viewport height */
align-items: center; /* Vertically centers the items */
justify-content: center; /* Horizontally centers the items */
}
.mainContainer{
  display: flex;
  flex-direction: column;
}
.name {
  font-family: arcade;
  color: white;
  flex: 1;
}
.name p {
  flex: 1 1 auto; 
  font-size: calc(10px + 2vw);
  text-align: center;
}

.oval {
  width: 200px; /* Adjust width */
  height: 100px; /* Adjust height */
  background-color: white; /* Set background color */
  border-radius: 50%; /* Makes the div an oval */
  display: inline-block; /* Ensures it behaves like a block element */
}

.divisions{
  display: flex;
  justify-content: space-between; /* Horizontal centering */
  flex: 1;
}

.divisions .division{
  display: flex;
  justify-content:center; /* Horizontal centering */
  align-items: center;
  flex: 1;
  
}
.divisions .division p{
  text-align: center;
  font-family: arcade;
}
.playButtonContainer{
  display: flex;
  flex: 1;
  align-items: center; /* Vertically centers the items */
  justify-content: center; /* Horizontally centers the items */
}
.playButton {
  align-items: center; /* Vertically centers the items */
  justify-content: center; /* Horizontally centers the items */
  align-content: center;
}
.playButtonContainer p{
  text-align: center;
  font-family: arcade;
}

.oval:hover{
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 400% 400%;
  animation: rainbow 3s infinite;
  margin: 0;
}

.name p:hover{
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 400% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 3s linear infinite;
}
@keyframes rainbow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.scrollviewOfDetails{
  flex: 10;
  height: auto;
  align-items: center; /* Vertically centers the items */
  justify-content: center; /* Horizontally centers the items */
  align-content: center;
}
.scrollviewOfDetails .content{
  position: relative;
  display: flex;
  background-color: white;
  flex: 1;
  align-items: center; /* Vertically centers the items */
  justify-content: center; /* Horizontally centers the items */
  align-content: center;
  min-height: 30vh;
  max-height: 40vh;
  max-width: 65vw;
  overflow-y: scroll;
}

@media (max-aspect-ratio: 1/1) {
  .scrollviewOfDetails .content{
    position: relative;
    display: flex;
    background-color: white;
    flex: 1;
    align-items: center; /* Vertically centers the items */
    justify-content: center; /* Horizontally centers the items */
    align-content: center;
    min-height: 30vh;
    max-height: 40vh;
    max-width: 90vw;
    overflow-y: scroll;
  }
}
@media (min-aspect-ratio: 2/1) {
  .scrollviewOfDetails .content{
    position: relative;
    display: flex;
    background-color: white;
    flex: 1;
    align-items: center; /* Vertically centers the items */
    justify-content: center; /* Horizontally centers the items */
    align-content: center;
    min-height: 30vh;
    max-height: 40vh;
    max-width: 75vw;
    overflow-y: scroll;
  }
}
.scrollviewOfDetails .content scrollviewOfDetailsContent{
  flex: 1;
  align-items: center; /* Vertically centers the items */
  justify-content: center; /* Horizontally centers the items */
  align-content: center;
}
.close-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: blue;
}
.close-btn:hover {
  color: red;
}
.scrollviewOfDetailsClose{
  animation: fadeOutModal 1s forwards;
  visibility: hidden;
}
.scrollviewOfDetails #title{
  font-size: calc(10px + 2vw);
  text-align: center;
}
.scrollviewOfDetails #date{
  font-size: calc(10px + 1vw);
  text-align: center;
}
.scrollviewOfDetails #location{
  font-size: calc(10px + 1vw);
  text-align: center;
}
.scrollviewOfDetails #keydetails{
  font-size: calc(10px + 1vw);
  text-align: left;
}
.scrollviewOfDetails #summary{
  font-size: calc(10px + 1vw);
  text-align: left;
}
@keyframes fadeInModal {
  0% { 
    opacity: 0; 
    transform: scale(0);
    background-color: transparent
  }
  100% { 
    opacity: 1; 
    color :black;
    background-color: white
  }
}
@keyframes fadeOutModal {
  0% { 
    opacity: 1; 
    color :black;
    background-color: white
  }
  100% { 
    transform: scale(0);
    opacity: 0;
    background-color: transparent
  }
}
@keyframes fadeOutMain {
  0% { 
    display: block; 
    opacity: 1; 
    transform: scale(1);
  }
  100% { 
    display: none;
    transform: scale(0);
    opacity: 0;
  }
}
.mainClose{
  animation: fadeOutMain 6s;
  display: none;
}
.mainCanvas{
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: arcadePage;
  background-color: black;
}